<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IHostedNetworkService"/>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/Shareit/Service/HostedNetworkService" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IHostedNetworkService" contract="Shareit.Foundation.Service.IHostedNetworkService" name="NetNamedPipeBinding_IHostedNetworkService"/>
    </client>
  </system.serviceModel>

</configuration>
